@model IEnumerable<SrmBook.Models.PartnerManagement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* 검색 *@
<form asp-controller="PartnerManagement" asp-action="Index">
    <p>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PM_CONTACT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUBLISHER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PM_ADD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PM_CONTACT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUBLISHER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PM_ADD)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PM_NUM">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PM_NUM">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PM_NUM">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
