@model SrmBook.Models.BookOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USER_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USER_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ORDER_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOOK_QUANTITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOOK_QUANTITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TOTAL_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TOTAL_PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOOK_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOOK_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOOK_NUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOOK_NUM)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ORDER_NUM" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
