@model SrmBook.Models.BookOrder

<h2>주문 상세 정보</h2>

<div>
    <h4>주문 번호: @Model.ORDER_NUM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">도서 번호</dt>
        <dd class="col-sm-10">@Model.BOOK_NUM</dd>

        <dt class="col-sm-2">도서 제목</dt>
        <dd class="col-sm-10">@Model.BOOK_NAME</dd>

        <dt class="col-sm-2">사용자 ID</dt>
        <dd class="col-sm-10">@Model.USER_ID</dd>

        <dt class="col-sm-2">주문 날짜</dt>
        <dd class="col-sm-10">@Model.ORDER_DATE</dd>

        <dt class="col-sm-2">도서 수량</dt>
        <dd class="col-sm-10">@Model.BOOK_QUANTITY</dd>

        <dt class="col-sm-2">총 가격</dt>
        <dd class="col-sm-10">@Model.TOTAL_PRICE</dd>
    </dl>
</div>


