@model IEnumerable<SrmBook.Models.BookOrder>

@{
    ViewData["Title"] = "Index";
    var Key = Context.Session.GetString("USER_SESSION_KEY");
    var admin = Context.Session.GetString("USER_TYPE_KEY");
}

<h1>Index</h1>
@if (Key != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    //날짜별 검색
    @using (Html.BeginForm("Index", "BookOrder", FormMethod.Get))
    {
        <p>
            Search by Book Name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>

        <p>
            Search by Date: @Html.TextBox("searchDate", ViewBag.CurrentDate as string, new { @class = "datepicker" })
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.USER_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ORDER_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BOOK_QUANTITY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TOTAL_PRICE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BOOK_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BOOK_NUM)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.USER_ID == Key || admin == "admin")//로그인한 사람만 보기 가능, 관리자는 전부 보기 가능
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.USER_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ORDER_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BOOK_QUANTITY)
                        </td>
                        <td>
                            @{
                                decimal totalPrice = item.TOTAL_PRICE;
                                int totalPriceInt = Decimal.ToInt32(totalPrice); // 소수점 값 제거
                            }
                            @totalPriceInt
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BOOK_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BOOK_NUM)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ORDER_NUM">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ORDER_NUM">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ORDER_NUM">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
//datepicker
    @section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}
}