@model IEnumerable<SrmBook.Models.BookOrder>

@{
    var Key = Context.Session.GetString("USER_SESSION_KEY");
    var isAdmin = (Key == "admin");
}

<h2>주문 목록</h2>

<table class="table">
    <thead>
        <tr>
            <th>주문 번호</th>
            <th>도서 번호</th>
            <th>도서 제목</th>
            <th>사용자 ID</th>
            <th>주문 날짜</th>
            <th>도서 수량</th>
            <th>총 가격</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            @if(Key == order.USER_ID || isAdmin)//주문한 본인만 확인 가능, 관리자는 모두 확인 가능
            {
                <tr>
                    <td>@order.ORDER_NUM</td>
                    <td>@order.BOOK_NUM</td>
                    <td>@order.BOOK_NAME</td>
                    <td>@order.USER_ID</td>
                    <td>@order.ORDER_DATE</td>
                    <td>@order.BOOK_QUANTITY</td>
                    <td>@order.TOTAL_PRICE</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.ORDER_NUM">상세</a> |
                        <a asp-action="Delete" asp-controller="BookOrder" asp-route-id="@order.ORDER_NUM">삭제</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


