@model SrmBook.Models.BookSearchView


@{
    ViewData["Title"] = "Index";

    var Key = Context.Session.GetString("USER_TYPE_KEY");
}

<h1>도서 분류</h1>

@if (Key == "admin")

{
    <p>
        <a asp-action="Create">도서 등록</a>
    </p>
}
@* 검색 *@
<form asp-controller="BookClassification" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genre">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookClassification![0].BOOK_IMAGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookClassification![0].BOOK_CLASS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookClassification![0].BOOK_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookClassification![0].BOOK_WRITER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookClassification![0].BOOK_PRICE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookClassification!)

        {
            <tr>
                <td>
                    @if (item.BOOK_IMAGE != null)
                    {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.BOOK_IMAGE)" alt="Book Image"
                        style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                    <span>이미지가 없습니다</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK_CLASS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK_WRITER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK_PRICE)
                </td>
                <td>
                    @if (Key == "admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.BOOK_NUM">수정</a>
                        <a asp-action="Delete" asp-route-id="@item.BOOK_NUM">삭제</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.BOOK_NUM">세부정보</a>
                </td>
            </tr>
        }
    </tbody>
</table>
