@model SrmBook.Models.BookDeliveryComposite

@{
    ViewData["Title"] = "Index";
    var Key = Context.Session.GetString("USER_SESSION_KEY");
    var admin = Context.Session.GetString("USER_TYPE_KEY");
}

<fieldset style="margin-top: 50px;">
    <legend>배송 내역</legend>
</fieldset>

@* 날짜별 제목별 검색 *@
@using (Html.BeginForm("Index", "BookDelivery", FormMethod.Get))
{
    <div>
        <p style="display: inline-block;">도서 제목으로 검색 :</p>
        <p style="display: inline-block;">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        </p>
        <p style="display: inline-block;">
            <input class="form-control me-sm-2" type="submit" value="Search" />
        </p>
    </div>

    <div>
        <p style="display: inline-block;">날짜별로 검색 :</p>
        <p style="display: inline-block;">
            @Html.TextBox("searchDate", ViewBag.CurrentDate as string, new { @class = "datepicker form-control" })
        </p>
        <p style="display: inline-block;">
            <input class="form-control me-sm-2" type="submit" value="Search" />
        </p>
    </div>
}
<table style="margin-top: 10px;" class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().DELIVERY_NUM)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().ORDER_NUM)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().USER_ID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().DELIVERY_DATE)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().BOOK_QUANTITY)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().BOOK_NUM)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().BOOK_NAME)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().ADDRESS)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDelivery.FirstOrDefault().TEL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookDelivery)
        {
            if (item.USER_ID == Key || admin == "admin")//로그인한 사람만 보기 가능, 관리자는 전부 보기 가능
            {
                <tr class="table-dark">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.DELIVERY_NUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ORDER_NUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DELIVERY_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_QUANTITY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_NUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADDRESS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEL)
                    </td>
                    <td>
                        @if (admin == "admin")
                        {
                            <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.DELIVERY_NUM">배송취소</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<fieldset style="margin-top: 50px;">
    <legend>발주 내역</legend>
</fieldset>

@* 발주 테이블 *@
<table style="margin-top: 10px;" class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().USER_ID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().ORDER_DATE)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().BOOK_QUANTITY)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().TOTAL_PRICE)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().BOOK_NAME)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookOrder.FirstOrDefault().BOOK_NUM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookOrder)
        {
            if (item.USER_ID == Key || admin == "admin")//로그인한 사람만 보기 가능, 관리자는 전부 보기 가능
            {
                <tr class="table-dark">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.USER_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ORDER_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_QUANTITY)
                    </td>
                    @* 소수점 및 콤마 추가 *@
                    <td>
                        @{
                            decimal totalPrice = item.TOTAL_PRICE;
                            int totalPriceInt = Decimal.ToInt32(totalPrice);
                        }
                        @totalPriceInt.ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_NUM)
                    </td>
                    <td>
                        @if (item.ORDER_CONFIRMED)
                        {
                            <a style="margin-left: 5px;" class="text-success">발주 확인됨</a>
                            @if (admin == "admin")
                            {
                                <a style="margin-left: 5px;" class="btn btn-outline-light" asp-action="Create"
                                    asp-controller="BookDelivery" asp-route-orderNum="@item.ORDER_NUM">배송하기</a>//발주의 order_num의 값을 보내기
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@* datepicker *@
@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}

