@model IEnumerable<SrmBook.Models.BookUser>

@{
    var Key = Context.Session.GetString("USER_SESSION_KEY");
    var admin = Context.Session.GetString("USER_TYPE_KEY");
}
<fieldset style="margin-top: 50px;">
    <legend>회원 정보</legend>
</fieldset>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">이름</th>
            <th scope="col">회원 유형</th>
            <th scope="col">EMAIL</th>
            <th scope="col">출판사</th>
            <th scope="col">주소</th>
            <th scope="col">연락처</th>
            <th scope="col">정보 수정 및 삭제</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (Key == user.USER_ID || admin == "admin")//로그인한 본인만 정보가 보이고 수정 삭제가 가능, 관리자는 전부 가능
            {
                <tr class="table-dark">
                    <td>@user.USER_ID</td>
                    <td>@user.USER_NAME</td>
                    <td>@user.USER_TYPE</td>
                    <td>@user.USER_EMAIL</td>
                    <td>@user.PUBLISHER</td>
                    <td>@user.ADDRESS</td>
                    <td>@user.TEL</td>
                    <td style="display: flex; align-items: center;">
                        @Html.ActionLink("정보수정", "Edit", new { userNum = user.USER_NUM }, new { @class = "btn btn-outline-light" })
                        @using (Html.BeginForm("Delete", "BookUser", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("userNum", user.USER_NUM)
                            <button style="margin-left: 5px;" class="btn btn-outline-light" type="submit">회원탈퇴</button>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
